//colors
$white: #FFF;
$blue: #1A4F8B;
$light-blue: #385C8E;
$red: #F14436;
$grey: #B0B0B0;
$light-grey: #C3C3C3;
$dark-grey: #767676;


// Media queries
$tablet: 768px;
$mobile: 425px;
$desktop: 1024px;